@font-face {
  src: url(/fonts/Roboto-Light.ttf);
  font-family: 'roboto-light';
  font-style: normal;
}

@font-face {
  src: url(/fonts/Roboto-Black.ttf);
  font-family: 'roboto-black';
  font-style: normal;
}

@font-face {
  src: url(/fonts/roboto/Roboto-Bold.ttf);
  font-family: 'roboto-bold';
  font-style: normal;
}

:root {
  --main-pink: #eac3c6;
  --main-black: #1c1c1b;
  --main-gray: #e1e5f2;
}

.par {
  font-family: roboto-light;
}

.logo {
  width: 85px;
  height: 50px;
}

header {
  background: var(--main-gray);
  padding: 5px;
}

#link {
  color: var(--main-black);
  text-transform: uppercase;
}
