.maincontent{
    margin:140px;
    height:400px;
}
.logodiv{
    width:150px;
    height:150px;
}
.logodiv img {
        object-fit: cover;
    width: 100%;
    height:100%;
}
.iconcontainer{
    width:100%;
    text-align: center;
    display:inline-block;
}
.maincontent{
    text-align: center;
        clear: left;

}
.header{
    text-align:center;
}
.description{
text-align: center;}

td{
    padding: 20px 79px;
}
