#main{
            background-color:#ffffff;
    margin: 0px;
    padding: 0px;
}
a{
    padding: 14px;
}
* {box-sizing:border-box}
.items{
width:100%;
    height:100%;
        vertical-align: top;
    padding: 0px 30px 0px 0px;



}
.item{
    width:100%;
    height: 240px;
    border-width: 1.1px 0px 1.1px 1.1px;
    border-style: solid;
    border-color: #ffffff;
    opacity: 1;
    margin:20px auto;
    -webkit-transition: opacity 800 linear;
    transition: opacity 800 linear;
    overflow:hidden;
}
.productimage{
    width:100%;
    height:100%;
    object-fit: cover;
}
.itemfooter{
    width:100%;
    height: 115px;
    padding: 15px 0px 15px 0px;
    border-width: 1px 0px 1px 0px;
    border-style: solid;
    border-color: #ffffff;
}
.left{
    display:inline-block;
        height: 100%;
    width:24%;

}
.right{
    display: inline-block;
    padding: 0px 0px 0px 15px;
    height: 100%;
            vertical-align: top;
    width:70%;

}
.leftinfo{
        display: inline-block;
    height:100%;
    width:40%;

}
.rightinfo{
        display: inline-block;
    height:100%;
    float: right;

}
select{
    border-width: 1px;
    border-color: #ffffff;
    transition: 0.4s;
}
select:hover{
        border-color: #000000;

}
.finalize{
    cursor: pointer;
    width:58%;
    height: 44px;
    background-color: #3f4045;
    text-align: center;
vertical-align: middle;
line-height: 8px;
    transition:0.3s;



}
.finalize:hover{
        background-color: #cccccc;
    color:#ffffff;

}
.info{
margin:15px;
padding:15px;
        background-color: #ffffff;

}

*{    font-family: 'Inconsolata', monospace;
}


.removeItem{
    border-bottom: 1px solid #3f4045;
    transition: 0.1s;
    width:40%;
    -webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
.removeItem:hover{
    background-color: #3f404544;
}
.removeItem:active{
    color:#ffffff;
        border-bottom: 1px solid #ffffff;

}
.checkoutmenu{
    position:relative;
    height: 100%;
    width:100%;

}
.complete{
    fill:#4cb963cc;
}
.todo{
        fill:#a0eadecc;

}


.line{
  stroke-width:1px;
  stroke:#3f4045;
        transition:0.2s;

}
.checkoutsequence{
    width:100%;
    height:auto;
    text-align: center;
}
.sequencepoint{
        position: relative;
    background-color:#ffffffdf;

    width:40px;
    height:40px;
    display:inline-block;
    border-radius: 50%;
    margin: 14px 20px;
    user-select: none;
    pointer-events: none;
    transition:0.3s;
    overflow:hidden;
}
.sequencepoint.active{
    position: relative;
    width:90px;
    height:40px;
    display:inline-block;
    border-radius: 16px;
    margin: 14px 20px;
     user-select: none;
    pointer-events: none;
        transition:0.3s;
        overflow:hidden;

}
.sequenceText{
    color:#000000cc;
    user-select:none;
margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);    font-size: 12px; line-height: 11px;
    
}
.inner_inositol{
   
    background-color:#E7E7E7;
}
.inositol{
    margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;
text-align: left;
background: #fff;
padding-bottom: 15px;
padding-top: 15px;
    background-color:#ffffff00;
}





.carousel__cell {
    position:relative;
  width: 95.5%;
  height: 95.5%;
 
    text-align: left;
    padding:0px 15px;
}



input{
    width: 59%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
    border: none;
  border-bottom: 1px solid #3f4045;
    transition: 0.2s;
}
.input{

}
.newcardtitle{
    color:#3f4045;
    font-size:12px;
}
.cardinfo{
    padding:15px;
}
p{
        color:#3f4045;

}

h3, h4{
            color:#3f4045 !important;

    
    
    
}
td{
padding: 1px 19px 1px 19px;}
.securitycodediv{
    padding-top:15px;
    padding-bottom:15px;
}
button{
     cursor: pointer;
    color: #ffffff;
    width:30%;
    height: 44px;
    background-color: #3f4045;
    text-align: center;
    transition:0.3s;
    border: 1px solid #3f404588;
}
.sequencePointDone{
    position:absolute;
    top:-100%;
    left: 50%;
transform: translate(-50%, -100%);    
}
.sequencePointParent{
    display:inline-block;
    width:auto;
}
.sequencePointWarning{
       fill: #ff5964cc;
        position:absolute;
  top:-100%;
    left: 50%;
transform: translate(-50%, -100%);    


}
.hoverInfo{
    position: relative;
    width:auto;
    height: auto;
 

}
.hoverInfo .hoverInfoText{
    visibility: hidden;
    background-color: #3f4045;
  color: #ffffff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
    width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px;
    
}
.hoverInfo:hover .hoverInfoText{
    visibility: visible;
}
.hoverInfo .hoverInfoText::after{
content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #3f4045 transparent;
}
.error{
    background-color:#ff5964cc;
    color:#ffffff;

}
.simple_cart{
    border-left: 1px solid #00000088;
    border-top: 1px solid #00000088;
    border-right: 1px solid #00000088;
}
.simple_cart td{
    border-bottom: 1px solid #00000088;
}
.oldinput{
    width:50%;
    display:inline-block;
    margin-top:0;
    padding-top:0;
    
    
}






.oldaddress{
    position:relative;
    border: 1px solid #00000044;
    margin: 14px 0px;
    width: 100%;
    height:300px;
    overflow:auto;
    padding: 8px 14px;
    padding-top:40px;
}



.selection{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    background-color:#00000044;
    color:#ffffff;
    height:40px;
}
.selection p{

    color:#ffffff;
}

.selected{
        border: 1px solid #B7CE63 !important;

}
.feedback{
    
background-color: #B7CE63 !important;
}
.shipping-module .shipping-item-order-info .shipping-address, .shipping-module .shipping-item-order-info .shipping-city, .shipping-module .shipping-item-order-info .shipping-phone {
	font-weight: 400;
	font-style: normal;
	color: #1b1b1b;
	font-size: 11px;
	margin-bottom: 5px;
	text-transform: none;
    width:50%;
    display:inline-block;
}
.shipping-module .shipping-item-order-info .shipping-name {
	font-weight: 600;
	font-style: normal;
	font-size: 12px;
	color: #000;
	line-height: 13px;
	margin: 5px 0 8px;
	text-transform: capitalize;
	word-wrap: break-word;
}
.shipping-module .shipping-edit-area .shipping-data {
	clear: none;
	margin-left: 23px;
	min-height: 112px;
}
.custom-radio-dark::after, .custom-radio-dark::before, .custom-radio-standard::after, .custom-radio-standard::before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border-radius: 50%;
	bottom: 0;
	content: "";
	display: block;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
}

div{color:#1b1b1b}
.shippingaddress{
    width:100%;

}
.shipping-old,  .billing-old, .shipping-new,  .billing-new{
    width:100%;
    display:block;
    border:1px solid #00000044;
    margin:14px 8px;
    height: 80px;
    position:relative;
        background-color:#ffffff;

    
}
.shipping-new,  .billing-new{
    display:none;
    
    
}
.shipping-button, .billing-button{
    
    
    width:5%;
    display:inline-block;
    position:relative;
    background-color:#3f4045;
    height:100%;
    vertical-align: top;
    user-select: none;
    pointer-events: none;
    
}
.shipping-button input{
    

  
    
}
.shipping-info, .billing-info{
    position:relative;
    
    width:92%;
    display:inline-block;
        vertical-align: top;
    padding:2px;
    padding-left:12px;
    user-select: none;
    pointer-events: none;

    
}

input[type="radio"] {
   
    cursor: pointer;
    display: inline-block;
 
    





}

input[type="radio"]:hover {
  background-position: left bottom;
}
input[type="radio"]:after {
    background-color: #444;
 
    content: '';
    display: block;
    height: 7px;
    left: 4px;
    position: relative;
    top: 4px;
    width: 7px;
}
.shipping-cover, .billing-cover{
    position:absolute;
    width:100%;
    height:100%;
    z-index: 1;
    cursor: pointer;
    
}

.inner_cell{
    
}
.error_address{
    
    color:#ff5964cc;
    padding-left:18px;
   
    
}
.error_address::before{
    
  content: "/";
   
    
}
.new_address_title{
    font-size:14px;
    padding-bottom:0;
    margin-bottom:0;
}


.details{
    width:59.5%;
    height:inherit;
      overflow-x: hidden;
    overflow-y: hidden;
    display:inline-block;
    vertical-align: top;
    box-sizing: border-box;
}
.sum{
    position: relative;
    width:39.5%;
    height:auto;
  position: relative;
      display: inline-block;
        vertical-align: top;
        box-sizing: border-box;
}


.match_point, #svg{
    
    position:absolute;
    top:0;
    right:0;
    width:60px;
    height:60px;
    transform:translate(50%, 0);
    
    
}
.match_point.one:first-child{
        border:1px solid #FFB11A;
        background-color:#FFB11A88;


}
.match_point.two:first-child{
        border:1px solid #351CAB;
        background-color:#351CAB88;


}.match_point.three:first-child{
        border:1px solid #E8233E;
        background-color:#E8233E88;


}
.match_point.four:first-child{
        border:1px solid #1BAFC9;
        background-color:#1BAFC988;


}
.match_point_inner{
    text-align: center;
    position:relative;
    width:100%;
    height:100%;
}
.match_point_number{
    
    color:#ffffff;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    font-size:38px;
    
    
}


.line1{
  stroke-width:1px;
  stroke:#FFB11A;

}
.line2{
  stroke-width:1px;
  stroke:#351CAB;

}
.line3{
  stroke-width:1px;
  stroke:#E8233E;

}
.line4{
  stroke-width:1px;
  stroke:#1BAFC9;

}

#svg {
	pointer-events: none;
	user-select: none;
    z-index:1;
    
    height: calc(100% + 20px);
}
.fixed {
  position: fixed;
  top: 130px;
  width: 100%;
    transition:0.3s;
}
.sequence{
width:100%;
    text-align: center;
}
.sequencePointParent{
    
    
}
.snap_prevention{
    height:71.4px;
    font-size:40px;
    padding-top:15px;
    color:#00000088;
}
.partcart{
    border: 1px solid #FFB11A;
   /* box-shadow:0px 0px 40px 4px #FFB11A22 inset; */
}
.partaddress{
    border: 1px solid #351CAB;
   /*     box-shadow:0px 0px 40px 4px #351CAB22 inset; */

}
.partcard{
    border: 1px solid #E8233E;
  /*          box-shadow:0px 0px 40px 4px #E8233E22 inset; */

}
.partfinal{
    border: 1px solid #1BAFC9;
   /*         box-shadow:0px 0px 40px 4px #1BAFC922 inset; */
}
.sequencePointDone.one{
    fill: #FFB11Aee;   
}
.sequencePointDone.two{
    fill: #351CABee;   
}


.sequencePointDone.three{
    fill: #E8233Eee;   
}
.sequencePointDone.four{
    fill: #1BAFC9ee;   
}
.empty_cart{
    padding:14px 40px;
  font-size:53px;
    width:100%;
}
.no{
    
    display:none;
    color:#ffffff;
        background-color:#ff5964cc;
padding:4px;
    font-size:12px;
    
}
