#includedFooter{

  width: 100%;
    margin-top:80px;
}
.footermain{


          /* Footer height */

    background-color:#3f4045;
  
    
}
.footersection{
    display:inline-block;

}
.fa {
  padding: 14px;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
    transform-origin: center;
    transition: 0.3s;
}

.fa:hover {
    border-width:14px;
}

.fa-facebook {
  color: #ffffff;
}

.fa-twitter {
  color: #ffffff;
}

.fa-google {
  color: #ffffff;
}

.fa-linkedin {
  color: #ffffff;
}

.fa-youtube {
  color: #ffffff;
}

.fa-instagram {
  
  color: #ffffff;
}
h3{
    text-align: left;
    color:#ffffff;
}
.footerlower{
    color:#000000bb;
    background-color:#ffffff;
    bottom:0;
    width: 100%;
    -webkit-box-shadow: inset 0px 15px 7px -13px rgba(0,0,0,0.47);
-moz-box-shadow: inset 0px 15px 7px -13px rgba(0,0,0,0.47);
box-shadow: inset 0px 15px 7px -13px rgba(0,0,0,0.47);
    border-top: 1px solid #000000;
}
.footerinner{
}
.companylogo{
    width:58px;
    height:58px;
    object-fit:cover;
    margin:0;
    padding:0;
    padding-top:8px;
filter: invert(35%);
}
.companylogo2{
            object-fit:cover;

width:58px;
    height:58px;
    margin:0;
    padding:0;

}
.jinxed{
  
    
    
    
}
ul.footerItems li {
  display:inline;
}
.jinxInfo{
    line-height: 0;
    margin:0;
    padding:0;
}
.footerA{
    display:inline-block !important;
}