

#main{
    background-color: #ffffff;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
.navbar{
    background-color: #ffffff;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; 
    z-index: 2;
    width:100%;

}
.navbarnew{
    background-color: #3f404500;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; 
    z-index: 2;
    width:100%;

}
.navbaritem{
    background-color: #3f4045;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; 
    z-index: 2;
    width:100%;

}
#wrapper{
    height: 30px;

}
.categorySpace{
    width:100%;
    background-color: crimson;
  position: relative;
    z-index: 1;
    background-color: #ffffff;
    width:100%;
    text-align: center;
    height:40px;
    padding: 4px 0px 0px 0px;
}
.categorySpacenew{
    width:100%;
    background-color: crimson;
  position: relative;
    z-index: 1;
    background-color: #ffffff00;
    width:100%;
    text-align: center;
    height:40px;
    padding: 4px 0px 0px 0px;
}


.navbar2{
  position: relative;
    z-index: 1;
    background-color: #ffffff;
    width:100%;
    text-align: center;
    height:51px;
    padding: 8px 0px 4px 0px;
    transition: 0.1s;
}
.navbar2new{
  position: relative;
    z-index: 1;
    background-color: #ffffff00;
    width:100%;
    text-align: center;
    height:51px;
    padding: 0px 0px 12px 0px;
    transition: 0.1s;
}
.logoImg{
        object-fit: cover;
    height:53px;
    transition: 0.4s;
    
}
.logoImgnew{
    filter: invert(1) !important;
    object-fit: cover;
    height:60px;
    transition: 0.4s;
}


#menuitem{
    padding-top:15px;
    display:inline-block;
    width:33%;
}




svg.search {
  fill:#ffffff;

}
svg.search:hover {
  fill: #fcdebe;
}
svg.closesearch {
  fill:#3f4045;


}
svg.closesearch:hover {
  fill: crimson;
}

.menuicons{
    float:right;
    margin: 4px 4px 0px 0px;
}


 /* Dropdown Button */
.dropbtn {
  background-color: #ffffff;
  color: black;
  font-size: 14px;
  border: none;
    transition:0.4s;
    padding: 8px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
      z-index: 1;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #cccccc;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3f4045; color: white;} 

#searchIcon{
    fill: #000000;
}
a{
    padding: 14px;
}
*{
    font-family: 'Inconsolata', monospace;
}
.searchbar{
  
    height:auto;
    z-index: 1;
}


.searchclose{
    position:relative;
    
    
   
}

.footer{
    width:100%;
    height:100px;
    background-color: #3f4045;
}


/* Dropdown Button */
.dropbtn-subcategory {
  color: #ffffff;
  border: none;
    font-size: 17px;
    font-weight: 500;
    margin:0;
    padding:0px 8px 0px 8px;
    height:100%;
        transition:0.4s;


}
.dropbtn-subcategorynew {
  color: #3f4045;
  border: none;
    font-size: 17px;
    font-weight: 500;
    margin:0;
    padding:0px 8px 0px 8px;
    height:100%;
        transition:0.4s;


}
/* The container <div> - needed to position the dropdown content */
.dropdown-subcategory {
  display: inline-block;
      z-index: 1;
    text-align: center;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-subcategory {
  display: none;
  position: absolute;
    left:0px;
    top:18px;
    width:100%;
    height:300px;
  background-color: #ffffff;
    border-top-width: 0px;
    border-top-style: solid;
    border-top-color: #3f4045;
    
  z-index: 1;
    
}

/* Links inside the dropdown */
.dropdown-content-subcategory a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
    line-height: 8px;
}

/* Change color of dropdown links on hover */
.dropdown-content-subcategory a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown-subcategory:hover .dropdown-content-subcategory {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-subcategory:hover .dropbtn-subcategory {background-color: #3f4045; color: #ffffff;} 

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li a {
  display: block;
  color: white;
  text-decoration: none;
    
}
.subcategory{
    vertical-align: top;
}
.category{
    display:inline-block;
        vertical-align: top;
    padding: 0px 30px 0px 30px;
    text-align: left;

}
.title{
    font-size: 20px;
    font-weight: 800;
    margin-top:15px;
    margin-bottom:4px;
}
.navmenu{
    transform: translate(0%, 50%);
    height:50%;
}


.dropbtn-cart {
  
        transition:0.4s;


}

.dropdown-cart {
  display: inline-block;
      z-index: 1;
    text-align: left;
}
.noscroll{
  fill:#ffffff;
    transition:0.3s;
}
.scrolled{
  fill:#00000088;
        transition:0.3s;
}


/* Dropdown Content (Hidden by Default) */
.dropdown-content-cart {
  display: none;
  position: absolute;
    top: 43px;
    right:20px;
    width:300px;
    height:92vh;
  background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #fcdebe;
    padding-top: 20px;
    
  z-index: 3;
    
}

/* Links inside the dropdown */
.dropdown-content-cart a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
    line-height: 8px;
}

/* Change color of dropdown links on hover */
.dropdown-content-cart a:hover {background-color: #cccccc;}

/* Show the dropdown menu on hover */
.dropdown-cart:hover .dropdown-content-cart {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-cart:hover .dropbtn-cart {background-color: #3f404500; color: #ffffff; fill:#F3D8C7;}

.basketimage .image{
    width:120px;
    height:100%;
    object-fit: cover;
}
.basketimage{
    display: inline-block;
            vertical-align: top;
    height:100%;

}
.basketinfo{
    display: inline-block;
            vertical-align: top;
    width:120px;
    padding-left: 15px;

}
.checkout{
    border-width: 1px 0px 0px 0px;
    border-color: #fcdebe;
    border-style:solid;
}
.basketitem{
    margin:12px;
    background-color:#ffffff;
    border-top:1px solid #00000022;
    border-bottom:1px solid #00000022;
    height:192px;
    
    
    
    
}
.itemsdropdown{
    height: 70%;
        overflow-y: auto;

}
.checkout{
    
}
.checkoutbtn{
    width:100%;
    background-color: #3f4045;
    border-width: 0px;
    color: #ffffff;
    height:40px;
    margin-top:8px;
}

.shoppingtitle{
    border-bottom-width: 1px;
    border-bottom-color: #fcdebe;
    border-bottom-style: solid;
    margin-bottom: 0px;
    padding: 0px 2px 2px 2px;
    text-align: center;
}
.shoppingtitle h4{
  margin:0;
    padding:0;
    line-height:0px;
    padding-bottom:16px;
}


/* Dropdown Button */
.dropbtn-profile {
  
        transition:0.4s;


}

/* The container <div> - needed to position the dropdown content */
.dropdown-profile {
  display: inline-block;
      z-index: 1;
    text-align: left;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content-profile {
  display: none;
  position: absolute;
    top: 43px;
    right:4px;
    width:199px;
    height:calc(18vh+8vh);
  background-color: #ffffff;
    border-width: 1px;
    border-style: solid;
    border-color: #fcdebe;
    padding-top: 8px;
    
  z-index: 3;
    
}

/* Links inside the dropdown */
.dropdown-content-profile a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
    line-height: 8px;
}

/* Change color of dropdown links on hover */
.dropdown-content-profile a:hover {background-color: #cccccc;}

/* Show the dropdown menu on hover */
.dropdown-profile:hover .dropdown-content-profile {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown-profile:hover .dropbtn-profile {background-color: #3f404500; color: #ffffff; fill:#F3D8C7;}

.profilebtn{
    cursor: pointer;
    width:100%;
    background-color: #ffffff;
    border-width: 0px 0px 0px 0px;
    border-color: #3f4045;
    border-style: solid;
    color: #3f4045;
    height:40px;
    margin-top:8px;
    transition:0.3s;
}
.profilebtn:hover{
    cursor: pointer;
    width:100%;
    background-color: #3f404599;
    color: #ffffff;
}
*{
    
}
.subcategorytitle{
    margin: 8px 4px;
    font-size: 14px;
    color: #000000cc;
    cursor: pointer;
}
.sub:hover{
    color: #000000;
}
.categorytitle{
    padding-top:30px;
    font-size: 18px;
    padding-bottom: 9px;
        cursor: pointer;

}
.dropdown-content-subcategory{
    overflow: auto;
    z-index: 2;
}
.category{
    margin: 4px 31px;
}
a{
        cursor: pointer;
}
.dropdown-subcategory a{
    padding: 0px 14px;
}
.searchbar{
    opacity:0;
    user-select: none;
    pointer-events: none;
    position:absolute;
    width:100%;
    border: 1px solid #00000088;
    height:auto;
    z-index: 0;
    left:0;
    bottom:0;
    height:0px;
    transform:translate(0,100%);
    transition: 0.3s;
}
.searchbaractive{
    opacity:1;
    position:absolute;
    width:100%;
    border: 1px solid #00000088;
    height:38px;
    z-index: 1;
    left:0;
    bottom:0;
    height:0px;
    transform:translate(0,100%);
    transition:0.3s;
}

.inputsearch{
    user-select: none;
    pointer-events: none;
    opacity: 0;
    width:100%;
    height: 0px;
    font-size:34px;
    line-height: 0;
    padding: 0px 0px 0px 20px;
    transition:0.2s;
}
.inputsearchactive{
        opacity: 0.92;

    width:100%;
    height: 35px;
    font-size:34px;
    padding: 5px 0px 5px 20px;
        transition:0.2s;

}
.searchclose{
    display:inline-block;
    position:relative;
    
    
 
}
input.inputsearch{
    
    color: #3f4045;
    background-color: #ffffff;
    border-width: 0px;
    border-style: solid;
    border-color: #3f4045;
}

path{
    pointer-events: none;
}


.pagetitle{
    position:relative;
}
.actualtitle{
    font-size:30px;
    position:absolute;
    top:30px;
    left:1px;
    color:#00000033;
}


.bigtitle{
    font-size:72vh;
    color:#00000011;
    position:absolute;
    left:-18px;
    pointer-events: none;
    z-index: -1;
    padding:0;
    margin:0;
}


.dropdown-content-cart h3{
    color:#00000088;
}


.bigimage{
    width:100vw;
    height:400px;
    position:relaive;
    overflow:hidden;
}
.bigimage img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.gradient{
    position:absolute;
    top:0;
    left:0;
 background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(37,33,30,0.22530344901632524) 62%, rgba(0,0,0,0.699953308960303) 82%, rgba(37,33,30,1) 100%); 
}
.querytitle{
    position:absolute;
    color:#ffffff;
     top:20%;
    left: 50%;
transform: translate(-50%, 40%);    
font-size:38px;
    text-align: center;
}




/*imported from index*/



#itemrow{
    text-align: center;
    margin: 84px 20px 40px 20px;
}
.productimg{
    
    width: 100%;
    height:74%;
    object-fit: cover;
    transition: 0.4s;
    border-bottom: 1px solid #00000022;
    


/*-webkit-clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%); 
    clip-path: polygon(0 0, 100% 0%, 75% 100%, 0% 100%);*/

}
.productimg:hover{
    transform: scale(1.1);
}
.productcontainer{
    position: relative;
    display:inline-block;
    box-sizing:border-box;
    margin-left: 8px;
    margin-right: 8px;
    margin-top: 12px;
    overflow:hidden;
    border:1px solid #00000088;
    
    
}

.productcontainer:hover{

    
}

.productdescription{
    text-align: center;
    width: 100%;
    height: 11%;
    color: #000000;
    background-color: #ffffff;

    
}
.producttitle{
    
}

.price{
    /*background-color: #edafb8;*/
    color: #000000;
    text-align: center;
}
.basketprice{
    border-bottom:1px solid #00000022;
    text-align: center;
    padding-bottom:14px;
}
.actualbasketprice{
    font-size: 24px;
}
