.maincontent{
    display:inline-block;
width:400px;    
    margin-top:190px;
}
.mapdiv, .addressdiv{
    display:inline-block;
    width: 180px;
    vertical-align: top;
}
.beforemain{
    width:100%;
    text-align: center;
}
.addressdiv{
    border-top: 3px solid #000000;
    text-align: left;
}


