#main{
            background-color:#ccc5b9 !important;
    margin: 0px;
    padding: 0px;
}

* {box-sizing:border-box}


.bigtitle{
    
    color:#ffffff88 !important;
}

.login_register_div{
    width:100%;
    height:480px;
    text-align: center;
    padding: 30px 80px 30px 80px;
}
.login_div{
    width:48%;
    height:100%;
    background-color: #ffffff;
    display: inline-block;
        vertical-align: top;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
    border-color: #ccc5b9;
    transition:0.5s;
}
.register_div{
    width:30%;
    height:100%;
    background-color:#ffffff;
    display: inline-block;
        vertical-align: top;
    transition: 0.4s;
}
input{
    width: 59%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
    border: none;
  border-bottom: 1px solid #ccc5b9;
    transition: 0.2s;
}
.login_input_div{
    margin-top: 98px;
    opacity: 1;
    transition: 0.6s;

}
.register_input_div{
    opacity: 0;
    display:none;
    transition:0.6s;
    width:49%;
    text-align: center;

}
button{
    cursor: pointer;
    background-color: #3f4045;
  border: none;
  color: white;
  padding: 12px 19px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.transit_register_button{
      padding: 12px 44px;
    transition: 0.4s;

}
.transit_register_button_div{
    margin-top: 150px;
    transition: 0.5s;
}
.register_button{
    margin-top: 40px;
}

.transit_login_button_div{
    margin-top: 20px;
    transition: 0.5s;
}


input.inputregister{
   width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
    border: none;
  border-bottom: 1px solid #ccc5b9;
        transition: 0.2s;
    display:block;

}


input:focus{
    border-bottom: 1px solid #3f4045;

}

.error{
    
    
    
    margin:0;
    padding:0;
    width:max-content;
    color:#ff5964cc;
    font-size:12px;
}
